@{
    ViewData["Title"] = "Home";
}
<!--? slider Area Start-->
<div class="slider-area ">
    <div class="slider-active">
        <!-- Single Slider -->
        <div class="single-slider slider-height d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-7 col-lg-7 col-md-8">
                        <div class="hero__caption">
                            <span data-animation="fadeInUp" data-delay=".4s">Creative Web Developer</span>
                            <h1 data-animation="fadeInUp" data-delay=".6s">I don't just build websites, I build your Business.</h1>
                            <!-- Hero-btn -->
                            @*<div class="hero__btn">
                                <a href="javascript:void(0);" class="btn hero-btn" data-animation="fadeInLeft" data-delay=".8s">Watch Portfolio</a>
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
            <!-- Hero Man Img -->
            <div class="hero-man">
                <img src="@LocalisationService.BaseUrl/assets/img/hero/hero_man1.png" alt="">
            </div>
        </div>
        <!-- Single Slider -->
        <div class="single-slider slider-height d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-7 col-lg-7 col-md-8">
                        <div class="hero__caption">
                            <span data-animation="fadeInUp" data-delay=".4s">Creative Web Developer</span>
                            <h1 data-animation="fadeInUp" data-delay=".6s">I don't just build websites, I build your Business.</h1>
                            <!-- Hero-btn -->
                            @*<div class="hero__btn">
                                <a href="javascript:void(0);" class="btn hero-btn" data-animation="fadeInLeft" data-delay=".8s">Watch Portfolio</a>
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
            <!-- Hero Man Img -->
            <div class="hero-man">
                <img src="@LocalisationService.BaseUrl/assets/img/hero/hero_man1.png" alt="">
            </div>
        </div>
    </div>
</div>
<!-- slider Area End-->
<!--? About Area start -->
@*<section class="about-area about1 section-padding30">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-xl-5 col-lg-6">
                <div class="about-caption2 mb-50">
                    <h3>HOW WE MAKE USER EXPERIENCES</h3>
                    <div class="send-cv">
                        <a href="#">hire@colorlib.com</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-lg-5">
                <div class="about-caption mb-50">
                    <h3>
                        You can’t use up creativity. The more you use, the
                        more you have in your signifant mind.
                    </h3>
                    <p class="pera1"><span>SALVADOR DALI</span> Digital Artisit</p>
                    <div class="experience">
                        <div class="year">
                            <span>05</span>
                        </div>
                        <div class="year-details"><p>YEARS OF<br> DIGITAL EXPERIENCE</p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--? Brand Shape  -->
    <div class="about-shape d-none d-xl-block">
        <img src="@LocalisationService.BaseUrl/assets/img/gallery/about_shape.png" alt="">
    </div>
</section>
<!-- Services Area End -->*@
<!--? Blog Ara Start -->
<section class="home-blog-area section-padding30">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="single-team mb-30">
                    <div class="team-img">
                        <img src="@LocalisationService.BaseUrl/assets/img/gallery/blog01.png" alt="">
                    </div>
                    <div class="team-caption">
                        <h3><a href="services.html">Creative Photography</a></h3>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="single-team mb-30">
                    <div class="team-img">
                        <img src="@LocalisationService.BaseUrl/assets/img/gallery/blog02.png" alt="">
                    </div>
                    <div class="team-caption">
                        <h3><a href="services.html">Wedding Photography</a></h3>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="single-team mb-30">
                    <div class="team-img">
                        <img src="@LocalisationService.BaseUrl/assets/img/gallery/blog03.png" alt="">
                    </div>
                    <div class="team-caption">
                        <h3><a href="services.html">Nature Photography</a></h3>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="single-team mb-30">
                    <div class="team-img">
                        <img src="@LocalisationService.BaseUrl/assets/img/gallery/blog02.png" alt="">
                    </div>
                    <div class="team-caption">
                        <h3><a href="services.html">Wedding Photography</a></h3>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services Ara End -->
<!--? Gallery Area Start -->
@*<section class="gallery-area">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-xl-5 col-lg-4 col-md-6 col-sm-6">
                <div class="gallery-box">
                    <div class="single-gallery">
                        <div class="gallery-img" style="background-image: url(@LocalisationService.BaseUrl/assets/img/gallery/gallery1.png);"></div>
                        <div class="cap-icon">
                            <a href="@LocalisationService.BaseUrl/assets/img/gallery/gallery1.png" class="ti-fullscreen img-pop-up"></a>
                        </div>
                        <div class="g-caption">
                            <h4>The Last man</h4>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="gallery-box">
                    <div class="single-gallery">
                        <div class="gallery-img" style="background-image: url(@LocalisationService.BaseUrl/assets/img/gallery/gallery2.png);"></div>
                        <div class="cap-icon">
                            <a href="@LocalisationService.BaseUrl/assets/img/gallery/gallery2.png" class="ti-fullscreen img-pop-up"></a>
                        </div>
                        <div class="g-caption">
                            <h4>The Last man</h4>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                <div class="gallery-box">
                    <div class="single-gallery">
                        <div class="gallery-img" style="background-image: url(@LocalisationService.BaseUrl/assets/img/gallery/gallery3.png);"></div>
                        <div class="cap-icon">
                            <a href="@LocalisationService.BaseUrl/assets/img/gallery/gallery3.png" class="ti-fullscreen img-pop-up"></a>
                        </div>
                        <div class="g-caption">
                            <h4>The Last man</h4>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-lg-4 col-md-6 col-sm-6">
                <div class="gallery-box">
                    <div class="single-gallery">
                        <div class="gallery-img" style="background-image: url(@LocalisationService.BaseUrl/assets/img/gallery/gallery4.png);"></div>
                        <div class="cap-icon">
                            <a href="@LocalisationService.BaseUrl/assets/img/gallery/gallery4.png" class="ti-fullscreen img-pop-up"></a>
                        </div>
                        <div class="g-caption">
                            <h4>The Last man</h4>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                <div class="gallery-box">
                    <div class="single-gallery">
                        <div class="gallery-img" style="background-image: url(@LocalisationService.BaseUrl/assets/img/gallery/gallery5.png);"></div>
                        <div class="cap-icon">
                            <a href="@LocalisationService.BaseUrl/assets/img/gallery/gallery5.png" class="ti-fullscreen img-pop-up"></a>
                        </div>
                        <div class="g-caption">
                            <h4>The Last man</h4>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="gallery-box">
                    <div class="single-gallery">
                        <div class="gallery-img" style="background-image: url(@LocalisationService.BaseUrl/assets/img/gallery/gallery6.png);"></div>
                        <div class="cap-icon">
                            <a href="@LocalisationService.BaseUrl/assets/img/gallery/gallery6.png" class="ti-fullscreen img-pop-up"></a>
                        </div>
                        <div class="g-caption">
                            <h4>The Last man</h4>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>*@
<!-- Gallery Area End -->
<!--? Brand Area Start -->
<section class="brand-area pb-bottom section-padding30">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-tittle mb-30">
                    <h2>Take a look <br>at our achivment</h2>
                    <p>Excepteur sint occaecat cupidatat. irure dolor in.</p>
                    <a href="#" class="btn">Get Start</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="single-brand text-center mb-30">
                    <img src="@LocalisationService.BaseUrl/assets/img/gallery/brand1.png" alt="">
                    <p>Behance award</p>
                    <p>Prize 2019</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="single-brand text-center mb-30">
                    <img src="@LocalisationService.BaseUrl/assets/img/gallery/brand02.png" alt="">
                    <p>Behance award</p>
                    <p>Prize 2019</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="single-brand text-center mb-30">
                    <img src="@LocalisationService.BaseUrl/assets/img/gallery/brand2.png" alt="">
                    <p>Behance award</p>
                    <p>Prize 2019</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="single-brand text-center mb-30">
                    <img src="@LocalisationService.BaseUrl/assets/img/gallery/brand3.png" alt="">
                    <p>Behance award</p>
                    <p>Prize 2019</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="single-brand text-center mb-30">
                    <img src="@LocalisationService.BaseUrl/assets/img/gallery/brand4.png" alt="">
                    <p>Behance award</p>
                    <p>Prize 2019</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="single-brand text-center mb-30">
                    <img src="@LocalisationService.BaseUrl/assets/img/gallery/brand1.png" alt="">
                    <p>Behance award</p>
                    <p>Prize 2019</p>
                </div>
            </div>
        </div>
    </div>
    <div class="brand-shape d-none d-lg-block">
        <img src="@LocalisationService.BaseUrl/assets/img/gallery/brand_shape.png" alt="">
    </div>
</section>
<!-- Brand Area End -->
<!--? Testimonial Start -->
@*<div class="testimonial-area testimonial-padding">
    <div class="container ">
        <div class="row d-flex justify-content-center">
            <div class="col-xl-11 col-lg-11 col-md-9">
                <div class="h1-testimonial-active">
                    <!-- Single Testimonial -->
                    <div class="single-testimonial text-center">
                        <!-- Testimonial Content -->
                        <div class="testimonial-caption ">
                            <div class="testimonial-top-cap">
                                <img src="@LocalisationService.BaseUrl/assets/img/gallery/testimonial.png" alt="">
                                <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis por incididunt ut labore et dolore mas. </p>
                            </div>
                            <!-- founder -->
                            <div class="testimonial-founder d-flex align-items-center justify-content-center">
                                <div class="founder-img">
                                    <img src="@LocalisationService.BaseUrl/assets/img/gallery/Homepage_testi.png" alt="">
                                </div>
                                <div class="founder-text">
                                    <span>Jessya Inn</span>
                                    <p>Chif Photographer</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Single Testimonial -->
                    <div class="single-testimonial text-center">
                        <!-- Testimonial Content -->
                        <div class="testimonial-caption ">
                            <div class="testimonial-top-cap">
                                <img src="@LocalisationService.BaseUrl/assets/img/gallery/testimonial.png" alt="">
                                <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis por incididunt ut labore et dolore mas. </p>
                            </div>
                            <!-- founder -->
                            <div class="testimonial-founder d-flex align-items-center justify-content-center">
                                <div class="founder-img">
                                    <img src="@LocalisationService.BaseUrl/assets/img/gallery/Homepage_testi.png" alt="">
                                </div>
                                <div class="founder-text">
                                    <span>Jessya Inn</span>
                                    <p>Chif Photographer</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->
<!--? Blog Area Start -->
<section class="blogs-area section-padding30">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <!-- Section Tittle -->
                <div class="section-tittle text-center mb-30">
                    <h2>Tourist Blog</h2>
                    <p>Our Recent Photos</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-blogs mb-100">
                    <div class="blog-img">
                        <img src="@LocalisationService.BaseUrl/assets/img/gallery/blog1.png" alt="">
                    </div>
                    <div class="blog-cap">
                        <span class="color1">23 Dec, 2020</span>
                        <h4><a href="blog_details.html">Addiction When Gambling Becomes</a></h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-blogs mb-100">
                    <div class="blog-img">
                        <img src="@LocalisationService.BaseUrl/assets/img/gallery/blog2.png" alt="">
                    </div>
                    <div class="blog-cap">
                        <span class="color1">23 Dec, 2020</span>
                        <h4><a href="blog_details.html">Addiction When Gambling Becomes</a></h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-blogs mb-100">
                    <div class="blog-img">
                        <img src="@LocalisationService.BaseUrl/assets/img/gallery/blog3.png" alt="">
                    </div>
                    <div class="blog-cap">
                        <span class="color1">23 Dec, 2020</span>
                        <h4><a href="blog_details.html">Addiction When Gambling Becomes</a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--? Brand Shape  -->
    <div class="blog-shape d-none d-xl-block">
        <img src="@LocalisationService.BaseUrl/assets/img/gallery/blog_shape.png" alt="">
    </div>
</section>*@
<!-- Blog Area End -->