@model EBiz.CoreFramework.DataAccess.Models.ResetPassword
@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reset Password - @LocalisationService.SiteName</title>
    <link href="@LocalisationService.BaseUrl/favicon/favicon.ico" rel="icon" type="image/png" sizes="32x32" />
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    <link href="@LocalisationService.BaseUrl/scripts/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    @*<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">*@
    @*<link href="@LocalisationService.BaseUrl/scripts/jquery.bootstrapvalidator/css/bootstrapValidator.min.css" rel="stylesheet" />*@
    <link href="@LocalisationService.BaseUrl/css/login-page.css" rel="stylesheet" />
    <style>

        input[type=button], input[type=submit], input[type=reset] {
            padding: 15px;
            width: 85%;
        }

        small.help-block {
            font-size: 14px;
            color: red;
        }
    </style>
</head>
<body class="login-body">
	<div class="wrapper fadeInDown">
		<div id="formContent">
			<div class="login-title">
				<h1>Reset Password</h1>
			</div>

			<div class="row">
				<div class="col-md-12" id="alert-reset-password">
					@await Component.InvokeAsync("AlertComponent")
				</div>
			</div>

			<form id="resetPasswordForm" asp-controller="Home" asp-action="ResetPassword" method="post">
				<input type="hidden" asp-for="Token" class="fadeIn second" value="@Model.Token">
				<input type="hidden" asp-for="UserName" class="fadeIn second" value="@Model.UserName">
				<input type="text" asp-for="UserName" class="fadeIn second" placeholder="UserName" style="cursor:not-allowed" disabled value="@Model.UserName">

				<div class="row">
					<div class="col-md-12">
						<input type="password" asp-for="Password" class="fadeIn third" placeholder="Password">
						<span asp-validation-for="Password" class="text-danger"></span>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<input type="password" asp-for="ConfirmPassword" class="fadeIn third" placeholder="Confirm Password">
						<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
					</div>
				</div>

				<input type="submit" class="fadeIn fourth" value="Reset Password">
			</form>
		</div>
	</div>
</body>
</html>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="@LocalisationService.BaseUrl/scripts/jquery.bootstrapvalidator/js/bootstrapValidator.min.js"></script>
<script defere src="@LocalisationService.BaseUrl/scripts/client/reset-password/reset-password.js"></script>